.product_card {
  width: 280px;
  height: 280px;
  background-color: #fff;
  color: black;
  margin: 20px;
  border-radius: 10px;
  padding: 1%;
}

.product_card_title {
  font-size: 14px;
  text-align: center;
}

.product_card_containerImg {
  border-radius: 10px;
  background-color: grey;
  height: 120px;
}

.product_card_btns {
  margin: 10px 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_productCard {
  margin: 0 5px;
}
